---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Contact from '@/components/Contact.astro';
---

<BaseLayout>
  <section class='pt-16 md:pt-20'>
    <Contact />
  </section>
</BaseLayout>
