---
import Text from "@/components/fundations/elements/Text.astro";
import Link from "@/components/fundations/elements/Link.astro";
---

<div
  class="isolate overflow-hidden bg-[radial-gradient(ellipse_at_center,var(--color-primary-600)_20%,var(--color-background-100)_80%)]"
>
  <div class="mx-auto max-w-7xl px-6 pt-24 pb-96 text-center sm:pt-32 lg:px-8">
    <div class="mx-auto max-w-4xl">
      <Text variant="displayLG" tag="h3" class="font-semibold text-accent-600"
        >Pricing</Text
      >
      <Text
        variant="displayLG"
        tag="h2"
        class="font-lato mt-2 font-semibold tracking-tight text-text-00"
      >
        Choose the right plan for you
      </Text>
    </div>
    <div class="relative mt-6">
      <Text
        tag="p"
        variant="textLG"
        class="mx-auto max-w-2xl font-medium text-pretty text-text-50"
      >
        Choose an affordable plan that's packed with the best features for
        engaging your audience, creating customer loyalty, and driving sales.
      </Text>
      <!-- <svg
        viewBox="0 0 1208 1024"
        class="absolute -top-10 left-1/2 -z-10 h-[64rem] -translate-x-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] sm:-top-12 md:-top-20 lg:-top-12 xl:top-0"
      >
        <ellipse
          cx="604"
          cy="512"
          fill="url(#pricing-gradient)"
          rx="604"
          ry="512"></ellipse>
        <defs>
          <radialGradient id="pricing-gradient">
            <stop stop-color="oklch(0.6 0.15 200)"></stop>
            <stop offset="1" stop-color="oklch(0.4 0.15 200)"></stop>
          </radialGradient>
        </defs>
      </svg> -->
    </div>
  </div>
  <div class="relative flow-root pb-24 sm:pb-32">
    <div class="-mt-80">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div
          class="mx-auto grid max-w-md grid-cols-1 gap-8 lg:max-w-4xl lg:grid-cols-2"
        >
          <!-- First card -->
          <div
            class="flex flex-col justify-between rounded-3xl bg-white p-8 shadow-xl ring-1 ring-neutral-200 sm:p-10"
          >
            <div>
              <Text
                tag="h3"
                variant="displaySM"
                id="tier-hobby"
                class="font-semibold text-primary-600"
              >
                Gas Safety Inspections & Certificates
              </Text>
              <div class="mt-4 flex items-baseline gap-x-2">
                <Text
                  tag="span"
                  variant="displaySM"
                  class="font-lato font-semibold tracking-tight text-accent-00"
                  >£65 + VAT</Text
                >
                <!--  <span class='text-base/7 font-semibold text-text-50'
                  >/month</span
                > -->
              </div>
              <Text variant="p" class="mt-6">
                OR £50 + VAT (when carrying out together with a Boiler Service)
              </Text>
              <ul role="list" class="mt-10 space-y-4 text-sm/6 text-text-50">
                <li class="flex gap-x-3">
                  <svg
                    class="h-6 w-5 flex-none text-accent-600"
                    viewBox="0 0 20 20"
                    fill="var(--color-primary-600"
                    aria-hidden="true"
                    data-slot="icon"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <Text tag="p"
                    >Annual and one-off gas safety checks by certified Gas Safe
                    engineers</Text
                  >
                </li>
                <li class="flex gap-x-3">
                  <svg
                    class="h-6 w-5 flex-none text-accent-600"
                    viewBox="0 0 20 20"
                    fill="var(--color-primary-600"
                    aria-hidden="true"
                    data-slot="icon"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                      clip-rule="evenodd"></path>
                  </svg>
                  Full landlord certification service (CP12) for all required appliances
                  and pipework
                </li>
                <li class="flex gap-x-3">
                  <svg
                    class="h-6 w-5 flex-none text-accent-600"
                    viewBox="0 0 20 20"
                    fill="var(--color-primary-600"
                    aria-hidden="true"
                    data-slot="icon"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                      clip-rule="evenodd"></path>
                  </svg>
                  Fixed price per property, no hidden fees for extra appliances
                </li>
                <li class="flex gap-x-3">
                  <svg
                    class="h-6 w-5 flex-none text-accent-600"
                    viewBox="0 0 20 20"
                    fill="var(--color-primary-600"
                    aria-hidden="true"
                    data-slot="icon"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                      clip-rule="evenodd"></path>
                  </svg>
                  Digital certificates issued promptly and directly to landlords
                </li>
              </ul>
            </div>
            <Link
              href="/contact-us"
              variant="accent-button"
              size="lg"
              gap="xs"
              class="mt-8 uppercase"
            >
              Contact Us Now
            </Link>
          </div>
          <!-- Second card -->
          <div
            class="flex flex-col justify-between rounded-3xl bg-white p-8 shadow-xl ring-1 ring-neutral-200 sm:p-10"
          >
            <div>
              <Text
                tag="h3"
                variant="displaySM"
                id="tier-hobby"
                class="font-semibold text-primary-600"
              >
                Gas Safety Inspections & Certificates
              </Text>
              <div class="mt-4 flex items-baseline gap-x-2">
                <Text
                  tag="span"
                  variant="displaySM"
                  class="font-lato font-semibold tracking-tight text-accent-00"
                  >£65 + VAT</Text
                >
                <!--  <span class='text-base/7 font-semibold text-text-50'
                  >/month</span
                > -->
              </div>
              <Text variant="p" class="mt-6">
                OR £50 + VAT (when carrying out together with a Boiler Service)
              </Text>
              <ul role="list" class="mt-10 space-y-4 text-sm/6 text-text-50">
                <li class="flex gap-x-3">
                  <svg
                    class="h-6 w-5 flex-none text-accent-600"
                    viewBox="0 0 20 20"
                    fill="var(--color-primary-600"
                    aria-hidden="true"
                    data-slot="icon"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <Text tag="p"
                    >Annual and one-off gas safety checks by certified Gas Safe
                    engineers</Text
                  >
                </li>
                <li class="flex gap-x-3">
                  <svg
                    class="h-6 w-5 flex-none text-accent-600"
                    viewBox="0 0 20 20"
                    fill="var(--color-primary-600"
                    aria-hidden="true"
                    data-slot="icon"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                      clip-rule="evenodd"></path>
                  </svg>
                  Full landlord certification service (CP12) for all required appliances
                  and pipework
                </li>
                <li class="flex gap-x-3">
                  <svg
                    class="h-6 w-5 flex-none text-accent-600"
                    viewBox="0 0 20 20"
                    fill="var(--color-primary-600"
                    aria-hidden="true"
                    data-slot="icon"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                      clip-rule="evenodd"></path>
                  </svg>
                  Fixed price per property, no hidden fees for extra appliances
                </li>
                <li class="flex gap-x-3">
                  <svg
                    class="h-6 w-5 flex-none text-accent-600"
                    viewBox="0 0 20 20"
                    fill="var(--color-primary-600"
                    aria-hidden="true"
                    data-slot="icon"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                      clip-rule="evenodd"></path>
                  </svg>
                  Digital certificates issued promptly and directly to landlords
                </li>
              </ul>
            </div>
            <a
              href="#"
              aria-describedby="tier-hobby"
              class="mt-8 block rounded-md bg-primary-600 px-3.5 py-2 text-center text-sm/6 font-semibold text-white shadow-sm hover:bg-primary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600"
              >Contact Us Now</a
            >
          </div>

          <!--  <div
            class="flex flex-col items-start gap-x-8 gap-y-6 rounded-3xl p-8 ring-1 ring-neutral-200 sm:gap-y-10 sm:p-10 lg:col-span-2 lg:flex-row lg:items-center"
          >
            <div class="lg:min-w-0 lg:flex-1">
              <Text
                tag="h3"
                variant="displaySM"
                class="font-semibold text-primary-600"
              >
                Discounted
              </Text>
              <Text tag="p" variant="textBASE" class="mt-1 text-primary-600">
                Dolor dolores repudiandae doloribus. Rerum sunt aut eum. Odit
                omnis non voluptatem sunt eos nostrum.
              </Text>
            </div>
            <a
              href="#"
              class="rounded-md px-3.5 py-2 text-sm/6 font-semibold text-accent-600 ring-1 ring-accent-200 ring-inset hover:ring-accent-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-accent-600"
              >Buy discounted license <span aria-hidden="true">&rarr;</span></a
            >
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
