<!-- Meta Tags -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>AC Plumbers Ltd.</title>
<meta
  name="description"
  content="AC Plumbers Ltd. | Plumbing, Heating & Renewable Services in Brighton"
/>
<meta
  name="keywords"
  content="Boiler Services, Installation, Repair, East Sussex"
/>
<meta name="author" content="AC Plumbers Ltd." />

<!-- Theme Color for Mobile Browsers -->
<meta name="theme-color" content="#ffffff" />

<!-- For IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
