---
import '@/styles/global.css';
// Supports weights 200-900
import '@fontsource-variable/nunito-sans';
import '@fontsource/poppins';
import '@fontsource/space-mono';
// Supports weights 100-700
import '@fontsource-variable/roboto-mono';
import '@fontsource/spectral';
// Supports weights 200-900
import '@fontsource-variable/inconsolata';
import BaseHead from '@/components/fundations/head/BaseHead.astro';
import Hero from '@/components/test/Hero.astro';
import Header from '@/components/global/Header.astro';
import Footer from '@/components/global/Footer.astro';
---

<!doctype html>
<html lang='en-GB' class='h-full'>
  <head>
    <BaseHead />
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>AC Plumbing</title>
  </head>
  <body class='h-full bg-[--color-background-00] text-[--color-text-00]'>
    <Header />
    <main class='mx-auto flex flex-col'>
      <slot />
    </main>
    <Footer />
  </body>
</html>
