---
import "@/styles/global.css";
import "@fontsource/poppins";
import "@fontsource-variable/inconsolata";

import BaseHead from "@/components/fundations/head/BaseHead.astro";
import Header from "@/components/global/Header.astro";
import HeaderVue from "@/components/global/Header.vue";
import Footer from "@/components/global/Footer.astro";
---

<!doctype html>
<html lang="en-GB" class="h-full" class="scrool-smooth">
  <head>
    <BaseHead />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AC Plumbers</title>
  </head>
  <body class="h-full">
    <!-- <Header /> -->
    <HeaderVue client:load />
    <main id="main-content" class="mx-auto flex flex-col">
      <slot />
    </main>
    <Footer />
  </body>
</html>
