---
import '@/styles/global.css';
// Supports weights 200-900
import '@fontsource-variable/nunito-sans';
import '@fontsource/poppins';
import '@fontsource/space-mono';
// Supports weights 100-700
import '@fontsource-variable/roboto-mono';
import '@fontsource/spectral';
// Supports weights 200-900
import '@fontsource-variable/inconsolata';
---

<!doctype html>
<html lang='en' class='h-full'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>AC Plumbing</title>
  </head>
  <body
    class='h-full bg-[--color-background-00] text-[--color-text-00] font-sans'>
    <slot />
  </body>
</html>
