---
import '@/styles/global.css';
// Supports weights 200-900
import '@fontsource-variable/nunito-sans';
import '@fontsource/poppins';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>My Astro Site</title>
  </head>
  <body
    class='mi-h-screen bg-[--color-background-00] text-[--color-text-00] font-sans p-8'>
    <slot />
  </body>
</html>
